:root {
  --zoom: 5;
  --map-width: calc(176px * var(--zoom));
  --map-height: calc(112px * var(--zoom));
  --map-tile-width: calc(17px * var(--zoom));
  --map-tile-height: calc(17px * var(--zoom));
}

.ground {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
}

.ground__tile--container {
  width: var(--map-tile-width);
  height: var(--map-tile-height);
  overflow: hidden;
  position: absolute;
}

.ground__tile {
  width: var(--map-width);
}