:root {
  --zoom-size: 5;
  --character-size: calc(22px * var(--zoom-size));
  --character-size-total: calc(88px * var(--zoom-size));
}

body {
  margin: 0;
}

.button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
  position: absolute;
  bottom: 0;
  right: 0;
}

.button__up,
.button__down {
  grid-column: span 2;
}

.character {
  width: var(--character-size);
  height: var(--character-size);
  position: relative;
  overflow: hidden;
}

.character__sprite {
  image-rendering: pixelated;
  width: var(--character-size-total);
  position: absolute;
}

.character__sprite--down {
  animation: moveSpriteSheet 1s steps(4) infinite;
}

.character__sprite--right {
  animation: moveSpriteSheet 1s steps(4) infinite;
  top: calc(var(--character-size) * -1);
}

.character__sprite--up {
  animation: moveSpriteSheet 1s steps(4) infinite;
  top: calc(var(--character-size) * -2);
}

.character__sprite--left {
  animation: moveSpriteSheet 1s steps(4) infinite;
  top: calc(var(--character-size) * -3);
}

@keyframes moveSpriteSheet {
  from {
    transform: translate3d(0px, 0, 0);
  }

  to {
    transform: translate3d(-100%, 0, 0)
  }
}