.hero__container {
  width: calc(var(--zoom) * 16px);
  height: calc(var(--zoom) * 16px);
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

.hero {
  width: calc(var(--zoom) * 192px);
  transform: translate(calc(var(--zoom) * 16px * -1), calc(var(--zoom) * 16px * -1));
}

.hero.up-0 {
  transform: translate(calc(var(--zoom) * 16px * -1), calc(var(--zoom) * 16px * -4));
}

.hero.up-1 {
  transform: translate(calc(var(--zoom) * 16px * -10), calc(var(--zoom) * 16px * -4));
}

.hero.up-2 {
  transform: translate(calc(var(--zoom) * 16px * -4), calc(var(--zoom) * 16px * -4));
}

.hero.up-3 {
  transform: translate(calc(var(--zoom) * 16px * -7), calc(var(--zoom) * 16px * -4));
}

.hero.up-4 {
  transform: translate(calc(var(--zoom) * 16px * -4), calc(var(--zoom) * 16px * -4));
}

.hero.left-0 {
  transform: translate(calc(var(--zoom) * 16px * -1), calc(var(--zoom) * 16px * -7));
}

.hero.left-1 {
  transform: translate(calc(var(--zoom) * 16px * -7), calc(var(--zoom) * 16px * -7));
}

.hero.left-2 {
  transform: translate(calc(var(--zoom) * 16px * -4), calc(var(--zoom) * 16px * -7));
}

.hero.left-3 {
  transform: translate(calc(var(--zoom) * 16px * -10), calc(var(--zoom) * 16px * -7));
}

.hero.left-4 {
  transform: translate(calc(var(--zoom) * 16px * -4), calc(var(--zoom) * 16px * -7));
}

.hero.right-0 {
  transform: translate(calc(var(--zoom) * 16px * -1), calc(var(--zoom) * 16px * -10));
}

.hero.right-1 {
  transform: translate(calc(var(--zoom) * 16px * -7), calc(var(--zoom) * 16px * -10));
}

.hero.right-2 {
  transform: translate(calc(var(--zoom) * 16px * -4), calc(var(--zoom) * 16px * -10));
}

.hero.right-3 {
  transform: translate(calc(var(--zoom) * 16px * -10), calc(var(--zoom) * 16px * -10));
}

.hero.right-4 {
  transform: translate(calc(var(--zoom) * 16px * -4), calc(var(--zoom) * 16px * -10));
}

.hero.down-0 {
  transform: translate(calc(var(--zoom) * 16px * -1), calc(var(--zoom) * 16px * -1));
}

.hero.down-1 {
  transform: translate(calc(var(--zoom) * 16px * -7), calc(var(--zoom) * 16px * -1));
}

.hero.down-2 {
  transform: translate(calc(var(--zoom) * 16px * -4), calc(var(--zoom) * 16px * -1));
}

.hero.down-3 {
  transform: translate(calc(var(--zoom) * 16px * -10), calc(var(--zoom) * 16px * -1));
}

.hero.down-4 {
  transform: translate(calc(var(--zoom) * 16px * -4), calc(var(--zoom) * 16px * -1));
}