.hero__emotion {
  font-size: var(--font-size);
  position: absolute;
  transform: translate(calc(var(--zoom) * -5px), calc(var(--zoom) * -5px));
  color: #5c4e92;
}

.hero__container {
  width: var(--tile);
  height: var(--tile);
  overflow: hidden;
}

.hero {
  width: calc(var(--zoom) * 192px);
  transform: translate(calc(var(--tile) * -1), calc(var(--tile) * -1));
}

.hero.up {
  transform: translate(calc(var(--tile) * -1), calc(var(--tile) * -4));
}

.hero.up--1 {
  transform: translate(calc(var(--tile) * -10), calc(var(--tile) * -4));
}

.hero.up--2 {
  transform: translate(calc(var(--tile) * -4), calc(var(--tile) * -4));
}

.hero.up--3 {
  transform: translate(calc(var(--tile) * -7), calc(var(--tile) * -4));
}

.hero.up--4 {
  transform: translate(calc(var(--tile) * -4), calc(var(--tile) * -4));
}

.hero.left {
  transform: translate(calc(var(--tile) * -1), calc(var(--tile) * -7));
}

.hero.left--1 {
  transform: translate(calc(var(--tile) * -7), calc(var(--tile) * -7));
}

.hero.left--2 {
  transform: translate(calc(var(--tile) * -4), calc(var(--tile) * -7));
}

.hero.left--3 {
  transform: translate(calc(var(--tile) * -10), calc(var(--tile) * -7));
}

.hero.left--4 {
  transform: translate(calc(var(--tile) * -4), calc(var(--tile) * -7));
}

.hero.right {
  transform: translate(calc(var(--tile) * -1), calc(var(--tile) * -10));
}

.hero.right--1 {
  transform: translate(calc(var(--tile) * -7), calc(var(--tile) * -10));
}

.hero.right--2 {
  transform: translate(calc(var(--tile) * -4), calc(var(--tile) * -10));
}

.hero.right--3 {
  transform: translate(calc(var(--tile) * -10), calc(var(--tile) * -10));
}

.hero.right--4 {
  transform: translate(calc(var(--tile) * -4), calc(var(--tile) * -10));
}

.hero.down {
  transform: translate(calc(var(--tile) * -1), calc(var(--tile) * -1));
}

.hero.down--1 {
  transform: translate(calc(var(--tile) * -7), calc(var(--tile) * -1));
}

.hero.down--2 {
  transform: translate(calc(var(--tile) * -4), calc(var(--tile) * -1));
}

.hero.down--3 {
  transform: translate(calc(var(--tile) * -10), calc(var(--tile) * -1));
}

.hero.down--4 {
  transform: translate(calc(var(--tile) * -4), calc(var(--tile) * -1));
}