.button__container {
  position: fixed;
  z-index: 2;
  bottom: 0;
  right: 0;
  display: grid;
  grid-template-columns: 70px 70px 70px;
  width: 210px;
}

.button__arrow {
  transform: translateX(2.25px);
}

.button {
  font-size: calc(var(--zoom) * 10px);
  width: calc(var(--zoom) * 14px);
  height: calc(var(--zoom) * 14px);
  border: calc(var(--zoom) * 1px) solid #5c4e92;
  color: #5c4e92;
  background-color: #f3f2c0;
}

.button:active {
  background-color: #e8b5ac;
}

.button--up {
  grid-area: 1/2/2/3;
}

.button--left {
  transform: rotate(270deg);
  grid-area: 2/1/3/3;
}

.button--right {
  transform: rotate(90deg);
  grid-area: 2/3/3/4;
}

.button--bottom {
  transform: rotate(180deg);
  grid-area: 3/2/4/3;
}

.hero__container {
  width: fit-content;
  position: relative;
}