.control {
  position: absolute;
  /* bottom: calc(1px); */
  bottom: 0;
  /* right: calc(1px); */
  right: 0;

  display: grid;
  grid-template-columns: 1fr 1fr;

  width: 70px;
}

.control img {
  image-rendering: pixelated;
}

.control button {
  padding: 0;
  height: 24px;

  border-radius: 25%;
  border: 1px solid transparent;
  /* border: 1px solid black; */
  background-color: transparent;
}

.control__up,
.control__down {
  margin: auto;
  grid-column: span 2;
}

.control__left {
  margin-right: auto;
}

.control__right {
  margin-left: auto;
}