.groundBridge {
  position: absolute;
  z-index: 1;
  width: calc(var(--zoom) * 17px);
  height: calc(var(--zoom) * 17px);
  overflow: hidden;
  display: inline-block;
  /* border: 1px solid red; */
}

.groundBridge__asset {
  width: calc(var(--zoom) * 80px);
  height: calc(var(--zoom) * 48px);
  /* transform: translate(-50%, -50%); */
}