.hero {
  position: absolute;
  z-index: 1;
  width: calc(var(--zoom) * 16px);
  height: calc(var(--zoom) * 16px);
  overflow: hidden;
}

.hero__asset {
  width: calc(var(--zoom) * 192px);
  transform: translate(calc(var(--zoom) * -16px), calc(var(--zoom) * -16px));
}