/* .object {
  position: absolute;
  width: calc(var(--zoom) * 17px);
  height: calc(var(--zoom) * 17px);
  overflow: hidden;
  display: inline-block;
}

.object__asset {
  width: calc(var(--zoom) * 176px);
  height: calc(var(--zoom) * 112px);
} */

.islandOneImage {
  content: "";
  width: 100px;
  height: 100px;
  background-image: url("../assets/Grass tiles v.2.png");
  background-repeat: no-repeat;
  border: 1px solid red;
}

.bridgeImage {
  content: "";
  width: 100px;
  height: 100px;
  background-image: url("../assets/Wood Bridge.png");
  background-repeat: no-repeat;
  border: 1px solid red;
}