@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  image-rendering: pixelated;
}

.app__tile {
  width: var(--tile);
  height: var(--tile);
  overflow: hidden;
}

.app__container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
}

.app__button--container {
  display: flex;
  flex-direction: row-reverse;
  width: calc(var(--tile) * 5);
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.app__camera {
  border: 1px solid black;
  width: calc(var(--tile) * 5);
  height: calc(var(--tile) * 5);
  overflow: hidden;
  position: relative;
}

.app__camera--center {
  transform: translate(calc(var(--tile) * 2), calc(var(--tile) * 2));
}

.app__camera--center>* {
  position: absolute;
}

.app__letter {
  /* width: calc(var(--zoom) * 96px); */
  /* position: absolute; */
}

/* .app__letter--container {
  transform: translate(calc(var(--tile) * 2), calc(var(--tile) * 2));
} */

.app__treasure {
  width: calc(var(--zoom) * 240px);
  transform: translate(calc(var(--tile) * -1), calc(var(--tile) * -1));
}

.app__treasure--container {
  transform: translate(calc(var(--tile) * 10), calc(var(--tile) * 2));
}

.app__dialogue--container {
  position: absolute;
  bottom: 0;
  background-color: #f3f2c0;
}

.app__dialogue {
  background-color: #f3f2c0;
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
}

.app__letter--read {
  background-color: #f3f2c0;
  position: absolute;
  bottom: 0;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app__letter--read>button {
  margin-left: auto;
  margin-bottom: calc(var(--zoom) * 5px);
}

.app__zx>.app__button {
  margin: .5rem;
}

.app__arrow--container {
  display: grid;
  grid-template-columns: repeat(3, calc(var(--zoom) * 14px));
  width: 210px;
}

.app__button:active,
.app__button.app__button--active {
  background-color: #e8b5ac;
}

.app__button.app__button--warning {
  animation: color-switch .75s infinite;
}

@keyframes color-switch {
  0% {
    border: calc(var(--zoom) * 1px) solid #5c4e92;
  }

  50% {
    border: calc(var(--zoom) * 1px) solid #e8b5ac;
  }

  100% {
    border: calc(var(--zoom) * 1px) solid #5c4e92;
  }
}

.app__button {
  font-size: var(--font-size);
  width: calc(var(--zoom) * 14px);
  height: calc(var(--zoom) * 14px);
  border: calc(var(--zoom) * 1px) solid #5c4e92;
  color: #5c4e92;
  background-color: #f3f2c0;
  padding: 0;
}

.app__button>p {
  width: 45px;
  margin: auto;
}

.app__button--up {
  grid-area: 1/2/2/3;
}

.app__button--left {
  transform: rotate(270deg);
  grid-area: 2/1/3/3;
}

.app__button--right {
  transform: rotate(90deg);
  grid-area: 2/3/3/4;
}

.app__button--down {
  transform: rotate(180deg);
  grid-area: 3/2/4/3;
}

@media (min-width: 650px) {
  .app__container {
    flex-direction: row;
  }

  .app__button--container {
    margin-left: 1rem;
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
  }

  .app__zx>.app__button {
    margin: 0 1rem 0 0;
  }
}