.camera {
  width: calc(var(--zoom) * 16px * 5);
  height: calc(var(--zoom) * 16px * 5);
  border: 1px solid black;
  overflow: hidden;
}

.camera__hero {
  transform: translate(calc(var(--zoom) * 16px * 2), calc(var(--zoom) * 16px * 2));
  position: absolute;
  z-index: 1;
}